/**
 * File order:
 * - tags
 * - attributes
 * - components
 * - layout
 * - theme
 * - helpers
 *
 * Selector order:
 * - positioning
 * - display & box-model
 * - color
 * - text
 * - other
 *
 * Follows Necolas' Idiomatic-CSS principles
 * https://github.com/necolas/idiomatic-css
 *
 * Process CSS with Myth
 * http://myth.io/
 *
 * Lint with stylelint to enforce style rules
 * https://github.com/stylelint/stylelint
 */

/* ==========================================================================
   Tags
   ========================================================================== */

:root {
  --primary-color: #11ffe0;
  --text-color: #333;
  --background-color: #efefef;
  --scale: 1.618;
  --scale-em: calc(var(--scale) * 1em);
  --gradient: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
  --gradient-orange: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
  --light-green: rgba(0, 255, 0, 0.2);
  --light-red: rgba(255, 0, 0, 0.2);
}

* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
}

/* \(*+*)/ */
* + * {
  margin-top: var(--scale-em);
}

html {
  font-size: 115%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: var(--scale);
  color: var(--text-color);
  background-color: var(--background-color);
}

body {
  max-width: 94em;
  margin: auto;
}

@media (max-width: 26em) {
  :root {
    --scale: 1.414;
  }

  html { font-size: 0.9rem; }
}

body,
li,
header {
  margin-top: 0;
}

header {
  position: relative;
  border-image: var(--gradient);
  border-image-slice: 1;
  border-bottom: 5px solid transparent;
}

input {
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em;
  border-radius: 0;

  /* The shorthand doensn't work as aspected in chrome for some reason */
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.9);
}

input:valid {
  background-color: var(--light-green);
}

input:invalid {
  background-color: var(--light-red);
}

input:focus {
  position: relative;
  border-image: var(--gradient);
  border-image-slice: 1;
  outline: 0;
}

input[type=checkbox] {
  /* to be able to let people tab into the checkbox */
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

input[type=checkbox] + label {
  padding: 0.5em;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  margin-top: 3rem;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.9);
}

input[type=checkbox]:focus + label {
  border-image: var(--gradient);
  border-image-slice: 1;
}

input[type=checkbox] + label {
  background-color: var(--light-red);
  cursor: pointer;
}

input[type=checkbox]:checked + label {
  background-color: var(--light-green);
}

input[type=checkbox] + label::before {
  content: '❌';
  margin-right: 1em;
}

input[type=checkbox]:checked + label::before {
  content: '✅';
  margin-right: 1em;
}

button[type=submit] {
  width: 100%;
  font-size: 1em;
  padding: 1em;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  margin-top: 3em;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.9);
}

form:valid button[type=submit] {
  background-color: var(--light-green);
}

button[type=submit]:focus {
  border-image: var(--gradient);
  border-image-slice: 1;
}

label {
  display: block;
}

label + * {
  margin-top: calc(1em / var(--scale));
}

img,
picture,
video,
svg {
  max-width: 100%;
}

.main-page h1 {
  font-size: calc(2em + var(--scale) * var(--scale) * var(--scale) * 1vw);
  text-align: center;
  padding: 0.5em;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.1em transparent;
  letter-spacing: 10px;
  color: var(--background-color);
}

h2 {
  font-size: var(--scale-em);
}

article,
p,
ol,
ul {
  max-width: 35em;
}

/* Navigation
   ========================================================================== */
nav {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  position: relative;
  flex-grow: 1;
}

nav a {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 1em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
}

nav ul ul {
  position: absolute;
  z-index: 5;
  top: 3.5em;
  left: -9999px;
  opacity: 0;
  min-width: min-content-width;
  background: var(--background-color);
}

nav > ul {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

nav li > a:hover,
nav li > a:focus,
nav li:focus > a,
nav li:hover > a {
  background: #b8cbb8;
  background: var(--gradient);
  outline: 0;
}

nav li:hover ul,
nav li:focus ul,
ul.show-menu {
  left: 0;
  width: 100%;
  opacity: 1;
  box-sizing: border-box;
}

/* ulliulliulliulliulliulliulliulliulli */
nav ul li ul li {
  width: 100%;
}

/* Articles
   ========================================================================== */
main {
  position: relative;
}

article {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-image: var(--gradient-orange);
  border-image-slice: 1;

  /* The shorthand doensn't work as aspected in chrome for some reason */
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  margin: 0 auto;
  background-color: white;
}

article div {
  flex-grow: 1;
  padding: 0 var(--scale-em);
  margin: 0;
  font-size: 1em;
}

article img {
  width: 25%;
  height: 100%;
  flex-basis: 25%;
  margin: 0;
  object-fit: cover;
}

article:first-of-type img {
  width: 50%;
  flex-basis: 50%;
}

article p {
  display: none;
}

article a::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
}

@media (min-width: 35em) {
  @supports (display: grid) {
    /* Grid */
    main {
      display: grid;
      grid-template-columns: 6;
      grid-gap: 2vw;
    }

    article:nth-of-type(1) {
      grid-column: 1 / span 4;
    }

    article:nth-of-type(2) {
      grid-column: 5 / span 2;
      grid-row: 1 / span 2;
      flex-direction: column;
    }

    article:nth-of-type(3),
    article:nth-of-type(4) {
      grid-column: span 2;
    }

    article:nth-of-type(5),
    article:nth-of-type(6) {
      grid-column: span 3;
    }

    /* Content formatting */
    article {
      max-width: none;
      margin: 0;
    }

    article h2 {
      font-size: 1.2em;
    }

    article p {
      display: block;
    }

    article:nth-of-type(2) img {
      width: 100%;
      height: 50%;
    }

    article:nth-of-type(2) div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    article:nth-of-type(3),
    article:nth-of-type(4) {
      font-size: 0.8em;
    }

    article:nth-of-type(3) p,
    article:nth-of-type(4) p {
      display: none;
    }

    article:nth-of-type(3) img,
    article:nth-of-type(4) img {
      width: 50%;
    }
  }
}

/* ==========================================================================
   Attributes
   ========================================================================== */

/* ==========================================================================
   Components
   ========================================================================== */

/* Modal
    ========================================================================== */
div[id=login][aria-hidden=true] {
  display: none;
}

div[id=login][aria-hidden=true] + div {
  display: none;
}

div[id=login][aria-hidden=false] {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

div[id=login][aria-hidden=false] > div {
  position: relative;
  width: 100%;
  max-width: 35em;
  box-sizing: border-box;
  padding: 4em;
  border: thin #000 solid;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

div[id=login][aria-hidden=false] h1 {
  margin: 0;
}

div[id=login][aria-hidden=false] a {
  text-align: center;
  display: block;
}

div[id=login][aria-hidden=false] + div {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  background-color: black;
  opacity: 0.5;
}

.modal-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 0;
  margin: 0;
  font-size: 1.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}

.screen-reader-offscreen {
  position: absolute;
  left: -99999px;
}
